[client]
host=mysql
user=dev
password=dev

[mysql]
host=mysql
user=dev
password=dev
database=vox_hrm
default-character-set=utf8
local-infile=1
show-warnings
auto-rehash
sigint-ignore
reconnect

[mysqldump]
host=mysql
user=root
password=dev
